/*  ========================= 
    Google fonts
    ========================= */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap");

/*  ========================= 
    Universal Selector
    ========================= */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

/*  ========================= 
    Shared CSS
    ========================= */

.primary-btn {
  padding: 14px 25px;
  background-color: #ff5400;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-section a {
  display: block;
  text-decoration: none;
  width: 100%;
}
.btn-section i {
  margin-right: 10px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px 0px;
}

.tomato-color {
  color: tomato;
}
/*  ========================= 
    Header / Logo / Nav CSS
    ========================= */
html,
body {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: 800;
}

.nav-section ul {
  display: flex;
  gap: 15px;
}
.nav-section ul li {
  list-style: none;
}
.nav-section ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #424247;
}

.on-hide {
  display: none;
}

.nav-section ul li a:hover {
  font-weight: 700;
  color: #ff5400;
}

/*  ========================= 
    Explore Travel Section
    ========================= */

.explore-travel-section {
  background-image: url(../img/banner-bg.png);
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../img/banner-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 14px;
  color: #fff;
  padding: 134px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.explore-travel-section h2 {
  font-size: 64px;
  font-weight: 800;
}
.explore-travel-section p {
  text-align: center;
  margin: 25px 0px;
  font-size: 1rem;
  line-height: 26px;
}

.form-section {
  padding: 15px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section input[type="text"],
select {
  background-color: white;
  padding: 16px 10px;
  width: 200px;
  margin-right: 10px;
  outline: none;
  border: none;
  border-radius: 7px;
  color: rgba(19, 19, 24, 0.5);
}

/*  ========================= 
    Popular Tours
    ========================= */

.popular-tours-section {
  margin: 0px auto;
  padding: 100px 0px;
  display: flex;
  gap: 50px;
}
.popular-tours-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popular-tours-desc h2 {
  font-size: 40px;
}
.popular-tours-desc p {
  margin: 14px 0px;
  line-height: 26px;
}
.popular-tours-desc ul {
  margin: 16px 0px;
}

.tour-list {
  padding-left: 25px;
}

.btn-new {
  margin-top: 40px;
}

/*  ========================= 
    Destination section
    ========================= */

.destination-section {
  margin-top: 10px;
}
.destination-title-text {
  text-align: center;
  margin-bottom: 50px;
}
.destination-title-text h2 {
  font-weight: 800;
  font-size: 40px;
}
.destination-title-text p {
  line-height: 26px;
  margin-top: 10px;
}

.maldives {
  grid-area: mal;
  background-image: url(../img/01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.indo {
  grid-area: indo;
  background-image: url(../img/02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.srilanka {
  grid-area: sri;
  background-image: url(../img/03.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.north {
  grid-area: north;
  background-image: url(../img/04.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.kashmir {
  grid-area: kash;
  background-image: url(../img/05.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.bd {
  grid-area: bd;
  background-image: url(../img/06.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.Band {
  grid-area: band;
  background-image: url(../img/07.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.destination-image-card {
  display: grid;
  grid-template-areas:
    "mal mal mal mal indo indo indo indo"
    "sri sri north north north north kash kash "
    "bd bd bd band band band band band ";
  gap: 20px;
}

.destination-image-card > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 300px;
}
