/*  ========================= 
    Google fonts
    ========================= */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap");

/*  ========================= 
    Universal Selector
    ========================= */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

/*  ========================= 
    Shared CSS
    ========================= */
.primary-btn {
  padding: 26px 87px;
  background-color: #ff5400;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px;
}

.tomato-color {
  color: tomato;
}
/*  ========================= 
    Header / Logo / Nav CSS
    ========================= */
html,
body {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: 800;
}

.nav-section ul {
  display: flex;
  gap: 15px;
}
.nav-section ul li {
  list-style: none;
}
.nav-section ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #424247;
}

.on-hide {
  display: none;
}

.nav-section ul li a:hover {
  font-weight: 700;
  color: #ff5400;
}
